@import 'section'
@import 'social'
@import 'slider'

.simplebar-track
  &.simplebar-vertical
    width: 6px
    background: #F1F1F1
  .simplebar-scrollbar
    width: 6px
    right: 0
    &.simplebar-visible
      &::before
        top: 0
        bottom: 0
        opacity: 1
        background-color: $accent
        border-radius: 0

//.simplebar-track .simplebar-scrollbar.simplebar-visible:before