extends template/main

block variables
  - var title = 'Политика конфиденциальности'
  - var pageClass = ''
  - var headerClass = 'header--inner'

block content
  include pages/policy-privacy/content