footer.footer
  .container
    .footer__wrap
      .footer__left
        h3.footer__title Украина / Россия / Черногория

        .footer__links-row
          ul.footer__links
            li
              a(href="static/files/Маркетинг-Кит-WestWebArt-s.pdf", download) Скачать Презентацию и Кейсы
              |  (PDF)
            li
              a(href="policy-privacy.html") Политика обработки персональных данных

          ul.footer__links
            li
              a(href="#portfolio") Портфолио
            li
              a(href="#services") Услуги

      .footer__right
        h3.footer__title Связаться с нами
        p 33018, Украина, Ровно, Мельника 14/173
        p 344022, РФ, Р.-н-Д., Горького 245/26, 704
        p 85346, Montenegro, H-Novi, Suncana 152
        a(href="#calculate").btn Узнать точную стоимость
        ul.social
          li.social__item
            a(href="https://join.skype.com/invite/adoYBTk8iDkj", target="_blank").social__link
              +icon('skype', 'social__icon')
          li.social__item
            a(href="tg://resolve?domain=vlasyukroma", target="_blank").social__link
              +icon('telegram', 'social__icon')
          li.social__item
            a(href="viber://chat?number=%2B380969313320", target="_blank").social__link
              +icon('viber', 'social__icon')
          li.social__item
            a(href="https://api.whatsapp.com/send?phone=380969313320", target="_blank").social__link
              +icon('whatsapp', 'social__icon')

    p.copy WestWebArt © 2010 - 2020