section.page-content
  .container
    h1 Политика конфиденциальности
    p ADICT Group с уважением относится к правам наших посетителей. Мы безоговорочно признаем важность конфиденциальности личной информации посетителей нашего сайта. Данная страница содержит сведения о том, какую информацию мы получаем и собираем, когда вы пользуетесь нашим сайтом.

    h2 Сбор информации
    p Предоставленные данные никогда не будут переданы третьим лицам, за исключением случаев, когда предоставление данных обязательно согласно законодательству РФ. Предоставленные данные будут использованы исключительно для улучшения качества работы компании и обратной связи с посетителями.

    p Все сведения, которые мы собираем о вас, в частности:
    ul
      li Адрес электронной почты (e-mail) или телефон;
      li Анкетные данные (имя; ту информацию, которую вы сами решите передать нам через формы ввода/обратной связи);
      li Другая информация, в том числе техническая.
    p собираются исключительно на основе ее добровольного предоставления лично вами и используются только в целях повышения уровня обслуживания наших посетителей, подписчиков и клиентов и ни в каких других целях.

    h2 Техническая информация
    p Сервер, на котором расположен наш Сайт, собирает и сохраняет только ту информацию, которая нужна для обеспечения сеанса стабильной интернет связи во время вашего посещения нашего Сайта. Как правило, такая информация включает следующие данные: дата и время вашего визита, IP-адрес, а также просмотренные страницы и загруженные файлы.

    h2 Использования файлов «cookies» при работе сайта
    p Сайт применяет стандартную технологию «cookies» («куки»). «Куки» представляют собой данные с веб-сайта, которые сохраняются на жестком диске вашего компьютера. В «cookies» содержится информация, которая может быть необходимой для настройки Сайта, — для сохранения ваших установок, вариантов просмотра статистической информации по Сайту, т. е. какие страницы вы посетили, что было загружено, имя домена интернет-провайдера и страна посетителя, а также адреса сторонних веб-сайтов, с которых совершен переход на Сайт и далее.
    p Также данную технологию используют установленные на Сайте счетчики компаний Yandex, Google и т. п.
    p Технология «Cookies» не содержит никаких личных сведений относительно вас. Чтобы просматривать материалы без «cookies», вы можете настроить свой браузер таким образом, чтобы он не принимал «cookies», либо уведомлял вас об их посылке (настройки браузера различны, поэтому советуем получить справку в разделе «Помощь» и выяснить, как изменить установки браузера по «cookies»). Подробно о работе «куки» файлов вы можете прочитать здесь: http://ru.wikipedia.org/wiki/HTTP_cookie

    h2 Как мы используем собранную информацию
    p ADICT Group может собирать и использовать личную информацию пользователей для следующих целей:

    ul
      li Для улучшения обслуживания клиентов. Предоставляемая вам информация помогает нам реагировать на запросы клиентов более эффективно;
      li Чтобы персонализировать пользовательский опыт. Мы можем использовать информацию для определения, кто из посетителей Сайта наиболее заинтересован в услугах и ресурсах, предоставляемых на нашем Сайте;
      li Для улучшения нашего Сайта. Мы можем использовать обратную связь, которую вы предоставляете, чтобы улучшить наши продукты и услуги;
      li Чтобы отправлять пользователям информацию, которую они согласны получать на темы, которые, как мы думаем, будут представлять для них интерес;
      li Чтобы отправить периодические сообщения электронной почтой, которые могут включать новости нашего Сайта, обновления, информацию о продуктах и услугах и т. д. Если пользователь хотел бы отказаться от получения последующих писем, мы включаем подробное описание инструкции по тому, как отписаться в нижней части каждого электронного письма, или пользователь может связаться с нами через наш Сайт.

    h2 Как мы защищаем вашу информацию
    p Мы принимаем соответствующие меры безопасности по сбору, хранению и обработке собранных данных для защиты их от несанкционированного доступа, изменения, раскрытия или уничтожения вашей личной информации.

    h2 Общий доступ к личной информации
    p Мы не продаем, не обмениваем или не даем в аренду личную информацию пользователей. Мы можем предоставлять общие агрегированные демографические данные, не связанные с личной информацией, нашими партнерами и рекламодателями для целей, описанных выше. Мы можем использовать сторонних поставщиков услуг, чтобы помочь нам управлять нашим бизнесом и Сайтом или управлять деятельностью от нашего имени, например, проведение рассылки или статистические и иные исследования. Мы можем делиться этой информацией с этими третьими лицами для ограниченных целей при условии, что вы дали нам соответствующие разрешения.

    h2 Изменения в политики конфиденциальности
    p ADICT Group имеет право по своему усмотрению обновлять данную политику конфиденциальности в любое время. Мы рекомендуем пользователям регулярно проверять эту страницу для того, чтобы быть в курсе любых изменений о том, как мы защищаем личную информацию, которую мы собираем. Используя Сайт, вы соглашаетесь с принятием на себя ответственности за периодическое ознакомление с Политикой конфиденциальности и изменениями в ней.

    h2 Ваше согласие с этими условиями
    p Используя этот Сайт, вы выражаете свое согласие с этой политикой. Если вы не согласны с этой политикой, пожалуйста, не используете наш Сайт. Ваше дальнейшее использование Сайта после внесения изменений в настоящую политику будет рассматриваться как Ваше согласие с этими изменениями.

    h2 Отказ от ответственности
    p На сайте приведены ссылки на другие сайты. Помните, что компания не несет ответственности за политику конфиденциальности этих сайтов. Покидая сайт, убедитесь, что вы ознакомились с политикой конфиденциальности данных сайтов. Данная политика конфиденциальности относится только к той информации, которую мы получаем с помощью этого сайта.
    p Мы берём на себя контроль и ответственность за конфиденциальность вашей информации, но помните, что любая информация, передаваемая через интернет, не может быть полностью защищена.
    p Процесс сбора и передачи информации личного характера при посещении этих сайтов регламентируется документом «Защита информации личного характера» или другим аналогичным, расположенном на сайтах этих компаний.

    h2 Авторское право
    p Материалы, находящиеся на нашем Сайте, защищены законодательством Российской Федерации и международными нормами в области защиты авторских прав. Запрещается любое коммерческое копирование, распространение, передача или изменение информации или материалов данного Сайта в электронном или печатном виде без предварительного письменного разрешения ADICT Group.

    h2 Товарные знаки
    p Торговые марки (названия, логотипы продуктов или услуг), представленные в каком-либо разделе нашего Сайта, являются интеллектуальной собственностью соответствующих владельцев. Все права защищены.

    h2 Как с нами связаться
    p Если у вас есть какие-либо вопросы по политике конфиденциальности, использованию Сайта или иных вопросам, связанным с Сайтом, пожалуйста, свяжитесь с нами по контактам, указанным на нашем сайте.