@keyframes slideDown
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0)

@keyframes slideDownHeroScroll
  0%
    transform: rotate(-90deg) translateY(0)
  50%
    transform: rotate(-90deg) translateY(10px)
  100%
    transform: rotate(-90deg) translateY(0)

@keyframes wordTransitionBg
  0%
    transform: translateY(15px)
  100%
    transform: translateY(0)

@keyframes wordFade
  0%
    opacity: 0
  100%
    opacity: 1