section.about
  .container
    .row
      .about__left
        .section-head
          h2.section-title Вы только запускаете <br>online-представительство?
          h3.section-sub-title Или хотите его оптимизировать?

      .about__right
        p Мы работаем по всем ключевым точкам предлагая Мультиканальное продвижение: <br>Позиционирование, Графическая оболочка, Веб-Упаковка, Функциональные решения, Генерирование Лидов и Привлечение Пациентов.
        p Наша цель - Максимизация ваших бизнес-показателей.

  .about-list
    .about-list__item.about-list__item--pink
      .about-list__wrap
        h3.about-list__title Фирменный Стиль+
        .about-list__descr
          p Мы работаем по всем ключевым точкам предлагая Мультиканальное продвижение:
          p Позиционирование, Графическая оболочка, Веб-Упаковка, Функциональные решения, Генерирование Лидов и Привлечение Пациентов.
          p Наша цель - Максимизация ваших бизнес-показателей.

        a(href="#").about-list__link Подробнее

      .about-list__full
        .about-list__full-wrap
          .about-list__full-item
            h4.about-list__full-title Реализуемые решения:
            p Логотип, Бланки писем, Визитки, Фирменная продукция, Брендбук, Фирменный персонаж
          .about-list__full-item
            h4.about-list__full-title Используемый инструментарий:
          .about-list__full-item.about-list__full-item--team
            h4.about-list__full-title Команда:
            p UI/UX-дизайнер, графический дизайнер, менеджер направления, куратор проекта, маркетолог

          a(href="#").about-list__link Узнать стоимость
    .about-list__item.about-list__item--blue
      .about-list__wrap
        h3.about-list__title Web-Разработка+
        .about-list__descr
          p Веб-Дизайн - не только красивый, но конверсионный.
          p Разрабатываем сайты в связке с юзабилити и формируем четкую воронку лидов пациентов.

        a(href="#").about-list__link Подробнее

      .about-list__full
        .about-list__full-wrap
          .about-list__full-item
            h4.about-list__full-title Реализуемые решения:
            p Дизайн сайтов и Лендингов, Редизайн имеющихся веб-сайтов, Разработка новых веб-решений и пр.
          .about-list__full-item
            h4.about-list__full-title Используемый инструментарий:
          .about-list__full-item.about-list__full-item--team
            h4.about-list__full-title Команда:
            p UI/UX-дизайнер, графический дизайнер, Юзабилист, Менеджер направления, Куратор Проекта, Маркетолог, Front-end специалист, Back-end специалист

          a(href="#").about-list__link Узнать стоимость
    .about-list__item.about-list__item--green
      .about-list__wrap
        h3.about-list__title Online-Маркетинг+
        .about-list__descr
          p 100% Medical Marketing - <br>Работаем по всем ключевым точкам:
          p генерируем заявки от пациентов, повышаем лояльность и увеличиваем продажи.

        a(href="#").about-list__link Подробнее

      .about-list__full
        .about-list__full-wrap
          .about-list__full-item
            h4.about-list__full-title Реализуемые решения:
            p Поисковое продвижение, Контекстная Реклама, Таргетированная Реклама, Развитие сообществ в соц сетях и пр.
          .about-list__full-item
            h4.about-list__full-title Используемый инструментарий:
          .about-list__full-item.about-list__full-item--team
            h4.about-list__full-title Команда:
            p SEO-оптимизатор, PPC-специалист, Веб-Дизайнер, SMM-щик, Таргетолог, Копирайтер, Программист, Маркетолог, Менеджер направления, Куратор Проекта

          a(href="#").about-list__link Узнать стоимость