section.facts#facts
  .container
    .facts__wrap
      .facts__left
        .section-head
          h2.section-title Факты о Нас
          .section-descr
            p Посмотрите ролик - он за 2 минуты представит нашу команду <br>и расскажет о Ваших выгодах и преимуществах от сотрудничества с Нами.

        .facts__files
          .facts__files-item
            a(href="https://www.youtube.com/watch?v=Bey4XXJAqS8&t=511s", data-fancybox)
              +icon('play')
              | Смотреть видео
          .facts__files-item
            a(href="static/files/pdf-test.pdf", download)
              +icon('download')
              | Скачать Презентацию и Кейсы <span>(PDF) / 6 Мб</span>

        img(src="static/images/content/google-cert.png", alt="").facts__cert

      .facts__right
        .facts-list
          .facts-list__item
            .facts-list__inner
              h3.facts-list__title 0 фрилансеров / <br>33 штатных сотрудника
              p Юридически - Украина и РФ. Физически - 5 офисов и 246 кв. метров. Примерно 5300 человеко часов в месяц доступных для продвижения вашей клиники
          .facts-list__item
            .facts-list__inner
              h3.facts-list__title 2010 старт коммерческой деятельности
              p Над каждой задачей трудится команда минимум из 6 специалистов. Актуальную информацию о ходе сотрудничества вы получаете от персонального менеджера
          .facts-list__item
            .facts-list__inner
              h3.facts-list__title Медицина специализация
              p Прекрасно понимаем, как решать сложные задачи по проектам в этой сфере бизнеса. Подробнее в видео: SEO / Контекстная Реклама для медицинских проектов
          .facts-list__item
            .facts-list__inner
              h3.facts-list__title География клиентов
              p Работаем с бизнесами от Невады до Новосибирска. Используем индивидуально разработанные методики и концепты, которые многократно подтвердили свою эффективность


    .facts-top
      .facts-top__item
        .facts-top__icon
          img(src="static/images/content/facts-top-1.svg", alt="")
        p Лауреаты премии <br>"Золотое Копье" 2018
      .facts-top__item
        .facts-top__icon
          img(src="static/images/content/facts-top-1.svg", alt="")
        p Лауреаты пользовательского <br>голосования Рейтинг Рунета 2019
      .facts-top__item
        .facts-top__icon
          img(src="static/images/content/facts-top-1.svg", alt="")
        p Входим в топ 5 частных компаний <br>и специалистов РФ+СНГ по направлениям: Аутсорсинг и консалтинг, Реклама/Маркетинг, Юзабилити, Рекламные концепции
      .facts-top__item
        .facts-top__icon
          img(src="static/images/content/facts-top-1.svg", alt="")
        p Входим в топ 15 частных компаний <br>и специалистов РФ+СНГ по направлениям: Контекстная реклама, SMM (маркетинг <br>в соцсетях), Редизайн и Веб-Разработка