section.faq#faq
  .container
    h2.section-title Ответы на Часто Задаваемые Вопросы

    .faq-tabs
      .faq-tabs__left
        ul.faq-tabs-list
          li.active
            a(href="#") Чем будете полезны моему бизнесу?
              span.faq-tabs-list__toggle
                +icon('arrow-down')
          li
            a(href="#") Как часто вы на связи?
              span.faq-tabs-list__toggle
                +icon('arrow-down')
          li
            a(href="#") Как происходит оплата?
              span.faq-tabs-list__toggle
                +icon('arrow-down')
          li
            a(href="#") Где вы находитесь?
              span.faq-tabs-list__toggle
                +icon('arrow-down')
          li
            a(href="#") Что делать, если у меня устаревший сайт?
              span.faq-tabs-list__toggle
                +icon('arrow-down')
          li
            a(href="#") Почему важен комплексный подход?
              span.faq-tabs-list__toggle
                +icon('arrow-down')

      .faq-tabs__right
        .faq-tabs__item
          .faq-tabs__content(data-simplebar)
            .video
              a(href="https://www.youtube.com/watch?v=ZKNcD2UZCHU").video__link
              button(type="button", aria-label="Запустить видео").video__button
        .faq-tabs__item
          .faq-tabs__content(data-simplebar)
            .video
              a(href="https://www.youtube.com/watch?v=z_mzfD5FKlI").video__link
              button(type="button", aria-label="Запустить видео").video__button
        .faq-tabs__item
          .faq-tabs__content(data-simplebar)
            .video
              a(href="https://www.youtube.com/watch?v=lvDm_RDQ3E8").video__link
              button(type="button", aria-label="Запустить видео").video__button
        .faq-tabs__item
          .faq-tabs__content(data-simplebar)
            p Юридически мы представлены в Украине и РФ; Физически — Украина.
        .faq-tabs__item
          .faq-tabs__content(data-simplebar)
            p Мы работаем стационарной командой, поэтому можем выполнить под ключ работы по комплексному продвижению (сео, смм, контекстная реклама) и веб-разработке (создание корпоративных сайтов, лендингов и магазинов).
        .faq-tabs__item
          .faq-tabs__content(data-simplebar)
            ol
              li Привлекаемый из контекстной рекламы трафик позволяет улучшить показатель поведенческих факторов сайта на начальном этапе сео-продвижения, а также обеспечивает получение заявок в сжатые сроки.
              li Работа с сайтом по SEO направлению повышает качество страниц, делает их более релевантными определенным запросам и ожиданиям пользователей. В свою очередь, это положительно скажется на участии объявлений в рекламном аукционе и сможет повысить оценку рекламного кабинета, чтобы удешевить стоимость заявки.
              li Необходимо отметить, что трафик из контекстной рекламы и органической выдачи (результатов в топ10) пересекается всего на 25%, а это значит, что параллельное использование обеих форматов существенно расширяет охват целевой аудитории.
              li Контекст позволяет быстро оценить реальную конверсионность запросов, поэтому вы сможете еще до начала SEO-продвижения выяснить, на какие из них стоит делать ставку, чтобы уменьшить вероятность ошибок планирования и неоправданных ожиданий.
              li Получив результаты по SEO, вместе с контекстом, мы сможем более гибко регулировать бюджет на «платном канале» за счет перераспределения бюджета в сторону менее дорогих, по которым сайт занял позиции в топ10.
                | Поскольку, самые дорогие работы по SEO обычно проводятся в первые месяцы, а потом стоимость продвижения может снижаться до минимума, в рамках общего бюджета речь может идти о выигрыше серьёзных сумм. В ином случае, если работает только контекст, подобный вариант «рокировки» — исключен.
              li При отключении одного из каналов — второй продолжает работать. Это станет особенно важно на более поздних периодах, когда вы начнете получать постоянный поток лидов из поиска — здесь работает общее правило про яйца и корзину.
                | Также, не стоит забывать о сезонных факторах и праздничных периодах.