section.faq#faq
  .container
    h2.section-title ЧаВо?

    .faq__wrap
      .faq__left
        .faq-list
          .faq-list__item.active
            h3.faq-list__title Lorem Ipsum?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
          .faq-list__item
            h3.faq-list__title Истоки Lorem Ipsum?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
          .faq-list__item
            h3.faq-list__title Lorem Ipsum в 1960-е годы?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
          .faq-list__item
            h3.faq-list__title Lorem Ipsum Сегодня?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
          .faq-list__item
            h3.faq-list__title Оригинальный текст Lorem Ipsum?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.

      .faq__right
        .faq-list
          .faq-list__item
            h3.faq-list__title Lorem Ipsum?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
          .faq-list__item
            h3.faq-list__title Истоки Lorem Ipsum?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
          .faq-list__item
            h3.faq-list__title Lorem Ipsum в 1960-е годы?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
          .faq-list__item
            h3.faq-list__title Lorem Ipsum Сегодня?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.
          .faq-list__item
            h3.faq-list__title Оригинальный текст Lorem Ipsum?
              span.faq-list__toggle
                +icon('arrow-down')
            .faq-list__content
              p Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах.