section.hero
  video(autoplay, muted, loop).hero__video
    source(src="static/images/content/depositphotos_246688052-stock-video-doctor-signs-documents-in-a.mp4")
  .container
    .hero__content
      h1 Медицинский Маркетинг –
      p повышаем бизнес-результаты <span>платных клиник</span> <br>за счет осмысленного комплексного подхода
      h3 Находим причины – <span>устраняем проблемы.</span>

    a(href="#").hero__scroll Подробнее
      +icon('double-arrow-down')