section.hero
  video(autoplay, muted, loop).hero__video
    source(src="static/images/content/depositphotos_150456710-stock-video-brunette-in-blue-dress-walks.mp4")
  .container
    .hero__content
      h1 Медицинский Маркетинг –
      p повышаем бизнес-результаты &nbsp;
        span.word-transition-fade
          span.word-transition-fade__item.word-transition-fade__item--visible платных клиник
          span.word-transition-fade__item стоматологий
          span.word-transition-fade__item косметологий
          span.word-transition-fade__item диагностических центров
          span.word-transition-fade__item частного врача
          span.word-transition-fade__item лабораторий
          span.word-transition-fade__item ветеринарных клиник
        | <br>за счет осмысленного комплексного подхода
      h3 Находим причины – <span>устраняем проблемы.</span>

    a(href="#about").hero__scroll Подробнее
      +icon('double-arrow-down')