section.portfolio#portfolio
  .portfolio-tabs
    .portfolio-tabs__top
      .container
        h2.section-title Результаты наших клиентов

        ul.portfolio-tabs-list
          li.portfolio-tabs-list__item.active
            a(href="#").portfolio-tabs-list__link Поисковое продвижение
          li.portfolio-tabs-list__item
            a(href="#").portfolio-tabs-list__link Социальные сети
          li.portfolio-tabs-list__item
            a(href="#").portfolio-tabs-list__link Контекстная реклама
          li.portfolio-tabs-list__item
            a(href="#").portfolio-tabs-list__link Создание сайтов

    .container
      .portfolio-tabs__item
        .portfolio-slider.swiper-container
          .swiper-wrapper
            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Продажа филлеров и препаратов <br>для мезотерапии

                  .portfolio-slider__target
                    | Сайт: <a href="http://esthetic-pharma.com.ua" target="_blank">esthetic-pharma.com.ua</a>
                  .portfolio-slider__target
                    | Регион: <b>Киев, Украина</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка и реализация контент-стратегии</strong>
                    p Результаты: <strong>создание корпоративной визуальной концепции соц сетей, подготовка и публикация постов, администрирование сообществ</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')


            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Продажа филлеров и препаратов <br>для мезотерапии

                  .portfolio-slider__target
                    | Сайт: <a href="http://esthetic-pharma.com.ua" target="_blank">esthetic-pharma.com.ua</a>
                  .portfolio-slider__target
                    | Регион: <b>Киев, Украина</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка и реализация контент-стратегии</strong>
                    p Результаты: <strong>создание корпоративной визуальной концепции соц сетей, подготовка и публикация постов, администрирование сообществ</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

          .slider-controls.portfolio-slider__slider-controls
            .slider-controls__pagination
              .swiper-pagination
            .slider-controls__btns
              .swiper-button-prev
                +icon('arrow-left')
              .swiper-button-next
                +icon('arrow-right')
      // /.portfolio-tabs__item
      .portfolio-tabs__item
        .portfolio-slider.swiper-container
          .swiper-wrapper
            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Продажа филлеров и препаратов <br>для мезотерапии

                  .portfolio-slider__target
                    | Сайт: <a href="http://esthetic-pharma.com.ua" target="_blank">esthetic-pharma.com.ua</a>
                  .portfolio-slider__target
                    | Регион: <b>Киев, Украина</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка и реализация контент-стратегии</strong>
                    p Результаты: <strong>создание корпоративной визуальной концепции соц сетей, подготовка и публикация постов, администрирование сообществ</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')


            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Продажа филлеров и препаратов <br>для мезотерапии

                  .portfolio-slider__target
                    | Сайт: <a href="http://esthetic-pharma.com.ua" target="_blank">esthetic-pharma.com.ua</a>
                  .portfolio-slider__target
                    | Регион: <b>Киев, Украина</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка и реализация контент-стратегии</strong>
                    p Результаты: <strong>создание корпоративной визуальной концепции соц сетей, подготовка и публикация постов, администрирование сообществ</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')


            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Продажа филлеров и препаратов <br>для мезотерапии

                  .portfolio-slider__target
                    | Сайт: <a href="http://esthetic-pharma.com.ua" target="_blank">esthetic-pharma.com.ua</a>
                  .portfolio-slider__target
                    | Регион: <b>Киев, Украина</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка и реализация контент-стратегии</strong>
                    p Результаты: <strong>создание корпоративной визуальной концепции соц сетей, подготовка и публикация постов, администрирование сообществ</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                      .portfolio-example-slider__item.swiper-slide
                        img(src="static/images/content/portfolio/poiskovoe-prodvizhenie/portfolio-1.jpg", alt="")
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

          .slider-controls.portfolio-slider__slider-controls
            .slider-controls__pagination
              .swiper-pagination
            .slider-controls__btns
              .swiper-button-prev
                +icon('arrow-left')
              .swiper-button-next
                +icon('arrow-right')
      // /.portfolio-tabs__item