section.portfolio#portfolio
  .portfolio-tabs
    .portfolio-tabs__top
      .container
        h2.section-title Результаты наших клиентов

        ul.portfolio-tabs-list
          li.portfolio-tabs-list__item.active
            a(href="#").portfolio-tabs-list__link Поисковое продвижение
          li.portfolio-tabs-list__item
            a(href="#").portfolio-tabs-list__link Социальные сети
          li.portfolio-tabs-list__item
            a(href="#").portfolio-tabs-list__link Контекстная реклама
          li.portfolio-tabs-list__item
            a(href="#").portfolio-tabs-list__link Создание сайтов

    .container
      .portfolio-tabs__item
        .portfolio-slider.swiper-container
          .swiper-wrapper
            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Медицинский Центр "Брак и Семья"

                  .portfolio-slider__target
                    | Сайт: <b>Budetpups.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Москва, Россия</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>внутренняя и внешняя seo-оптимизация</strong>
                    p Результаты: <strong>рост видимости по ключевым фраза, вывод запросов в топ10, увеличение числа обращений</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-brak-i-semja/jekspress-kursy-podgotovki-k-rodam.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-brak-i-semja/kursy-podgotovki-k-rodam.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-brak-i-semja/ozonoterapija-v-moskve.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-brak-i-semja/sdat-analizy-na-gormony.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-brak-i-semja/uslugi-ginekologa.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-brak-i-semja/vedenie-beremennosti.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title МедЦентр "Золотая Орхидея"

                  .portfolio-slider__target
                    | Сайт: <b>eva-dent.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Москва, Россия</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>внутренняя и внешняя seo-оптимизация</strong>
                    p Результаты: <strong>рост видимости по ключевым фраза, вывод запросов в топ10, увеличение числа обращений</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medcentr-zolotaja-orhideja/horoshee-uzi.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medcentr-zolotaja-orhideja/sdat-analiz-na-vich.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medcentr-zolotaja-orhideja/sdelat-uzi-pri-beremennosti.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medcentr-zolotaja-orhideja/spravka-ljubercy.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medcentr-zolotaja-orhideja/spravka-marino.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medcentr-zolotaja-orhideja/spravka-medicinskaja-dlja-prav.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medcentr-zolotaja-orhideja/spravki-JuVAO.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medcentr-zolotaja-orhideja/stomatologija-ljublino.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Медицинский Центр "Кардио-Плюс"

                  .portfolio-slider__target
                    | Сайт: <b>Kardio-Plus.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Самара, Россия</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>внутренняя и внешняя seo-оптимизация</strong>
                    p Результаты: <strong>рост видимости по ключевым фраза, вывод запросов в топ10, увеличение числа обращений</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-kardio-pljus/platnoe-uzi-pochek.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-kardio-pljus/projti-uzi.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-kardio-pljus/sdelat-uzi.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-kardio-pljus/sdelat-uzi-pochek.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-kardio-pljus/uzi-ceny.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-kardio-pljus/uzi-serdca.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-kardio-pljus/uzi-sustavov.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-kardio-pljus/uzi-v-samare.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Медицинский Центр "IQ CLINIC"

                  .portfolio-slider__target
                    | Сайт: <b>iq-clinic.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Москва, Россия</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>внутренняя и внешняя seo-оптимизация</strong>
                    p Результаты: <strong>рост видимости по ключевым фраза, вывод запросов в топ10, увеличение числа обращений</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/chastnye-hirurgi.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/chastnyj-lor1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/horoshie-vrachi-uzi1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/izvestnye-hirurgi1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/klinika-sdachi-analizov1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/klinika-vladykino1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/lor-vrach-platno.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/luchshee-uzi-v-moskve.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/luchshie-vrachi-ginekologi-moskvy1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/platnaja-lor-klinika.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/platnyj-detskij-lor.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/sdat-analizy-klinika.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/medicinskij-centr-iq-clinic/vrach-uzi-v-moskve.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title ENDO-KLINIK HAMBURG

                  .portfolio-slider__target
                    | Сайт: <b>endoprotes.com</b>
                  .portfolio-slider__target
                    | Регион: <b>Россия, Украина, Беларусь</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>внутренняя и внешняя seo-оптимизация</strong>
                    p Результаты: <strong>рост видимости по ключевым фраза, вывод запросов в топ10, увеличение числа обращений</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/endo-klinik-hamburg/jendoklinika.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/endo-klinik-hamburg/jendoprotezirovanie-germanii.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/endo-klinik-hamburg/jendoprotezirovanie-germanii-gugl.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/endo-klinik-hamburg/jendoprotezirovanie-golenostopa.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/endo-klinik-hamburg/jendoprotezirovanie-kolena.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/endo-klinik-hamburg/jendoprotezirovanie-sustavov-v-germanii.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/endo-klinik-hamburg/lechenie-kolennogo-sustava-v-germanii.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Стоматология "Мир Стоматологии"

                  .portfolio-slider__target
                    | Сайт: <b>stomatologia33.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Владимир, Россия</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>внутренняя и внешняя seo-оптимизация</strong>
                    p Результаты: <strong>рост видимости по ключевым фраза, вывод запросов в топ10, увеличение числа обращений</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/8-2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/9-21.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/10-2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/22.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/32.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/53.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/62.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/81.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/91.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/stomatologija-mir-stomatologii/101.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Центр ветеринарной медицины "Друг"

                  .portfolio-slider__target
                    | Сайт: <b>vetdrug.com.ua</b>
                  .portfolio-slider__target
                    | Регион: <b>Киев, Украина</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>внутренняя и внешняя seo-оптимизация</strong>
                    p Результаты: <strong>рост видимости по ключевым фраза, вывод запросов в топ10, увеличение числа обращений</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/centr-veterinarnoj-mediciny-drug/veterinar-na-dom.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/centr-veterinarnoj-mediciny-drug/veterinar-na-domm.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/centr-veterinarnoj-mediciny-drug/veterinarnaja-klinika.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/centr-veterinarnoj-mediciny-drug/veterinarnaja-pomoshh.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/centr-veterinarnoj-mediciny-drug/vetklinika.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/centr-veterinarnoj-mediciny-drug/vetklinika-drug.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/centr-veterinarnoj-mediciny-drug/vetkliniki-kruglosutochno.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/centr-veterinarnoj-mediciny-drug/vyzov-veterinara-na-dom.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/poiskovoe-prodvizhenie/centr-veterinarnoj-mediciny-drug/vyzov-veterinara-na-domm.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')
          .slider-controls.portfolio-slider__slider-controls
            .slider-controls__pagination
              .swiper-pagination
            .slider-controls__btns
              .swiper-button-prev
                +icon('arrow-left')
              .swiper-button-next
                +icon('arrow-right')
      // /.portfolio-tabs__item
      .portfolio-tabs__item
        .portfolio-slider.swiper-container
          .swiper-wrapper
            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Стоматология "Данти Профи"

                  .portfolio-slider__target
                    | Сайт: <b>danti-profi.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Магадан, Россия</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка и реализация контент-стратегии</strong>
                    p Результаты: <strong>создание корпоративной визуальной концепции соц сетей, подготовка и публикация постов, администрирование сообществ</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-danti-profi/1.1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-danti-profi/1.2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-danti-profi/2.1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-danti-profi/2.2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-danti-profi/3.1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-danti-profi/3.2.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Стоматология "ИмплантПрофи"

                  .portfolio-slider__target
                    | Сайт: <b>implantprofi.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Москва, Россия</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка и реализация контент-стратегии</strong>
                    p Результаты: <strong>создание корпоративной визуальной концепции соц сетей, подготовка и публикация постов, администрирование сообществ</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-implantprofi/1.1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-implantprofi/1.2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-implantprofi/2.1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/stomatologija-implantprofi/2.2.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Продажа филлеров и препаратов для мезотерапии

                  .portfolio-slider__target
                    | Сайт: <b>esthetic-pharma.com.ua</b>
                  .portfolio-slider__target
                    | Регион: <b>Киев, Украина</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка и реализация контент-стратегии</strong>
                    p Результаты: <strong>создание корпоративной визуальной концепции соц сетей, подготовка и публикация постов, администрирование сообществ</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/prodazha-fillerov-i-preparatov-dlja-mezoterapii/1.1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/prodazha-fillerov-i-preparatov-dlja-mezoterapii/1.2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/prodazha-fillerov-i-preparatov-dlja-mezoterapii/2.1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/socialnye-seti/prodazha-fillerov-i-preparatov-dlja-mezoterapii/2.2.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

          .slider-controls.portfolio-slider__slider-controls
            .slider-controls__pagination
              .swiper-pagination
            .slider-controls__btns
              .swiper-button-prev
                +icon('arrow-left')
              .swiper-button-next
                +icon('arrow-right')
      // /.portfolio-tabs__item
      .portfolio-tabs__item
        .portfolio-slider.swiper-container
          .swiper-wrapper
            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Медицинский центр "Движение"

                  .portfolio-slider__target
                    | Сайт: <b>dvigenie.tomsk.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Томск, Россия</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>настройка и ведение Яндекс Директ, и Google Ads</strong>
                    p Результаты: <strong>рост переходов потенциальных клиентов, увеличение узнаваемости и числа обращений пациентов</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/3.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/4.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/5.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/6.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/7.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/8.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/9.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/medicinskij-centr-dvizhenie/10.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title SmilEst Dental Clinic

                  .portfolio-slider__target
                    | Сайт: <b>smilest.ee</b>
                  .portfolio-slider__target
                    | Регион: <b>Таллин, Эстония</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>настройка и ведение Яндекс Директ, и Google Ads</strong>
                    p Результаты: <strong>рост переходов потенциальных клиентов, увеличение узнаваемости и числа обращений пациентов</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/3.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/4.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/5.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/6.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/7.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/8.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/9.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/smielest-dental-clinic/10.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Йогатерапевт Анастасия Тюрина

                  .portfolio-slider__target
                    | Сайт: <b>atyoga.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Мир</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>Настройка и ведение РСЯ (Яндекс Директ)</strong>
                    p Результаты: <strong>рост переходов потенциальных клиентов, увеличение узнаваемости и числа обращений пациентов</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/jogaterapevt-anastasija-tjurina/1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/jogaterapevt-anastasija-tjurina/2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/kontekstnaja-reklama/jogaterapevt-anastasija-tjurina/3.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')

          .slider-controls.portfolio-slider__slider-controls
            .slider-controls__pagination
              .swiper-pagination
            .slider-controls__btns
              .swiper-button-prev
                +icon('arrow-left')
              .swiper-button-next
                +icon('arrow-right')
      // /.portfolio-tabs__item
      .portfolio-tabs__item
        .portfolio-slider.swiper-container
          .swiper-wrapper
            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title Офтальмологический центр "FOCUS"

                  .portfolio-slider__target
                    | Сайт: <b>focus.westwebart.com</b>
                  .portfolio-slider__target
                    | Регион: <b>Алматы, Казахстан</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка конверионного Лендинга с нуля</strong>
                    p Результаты: <strong>создание презентабельной визуальной упаковки ориентированной на увеличение числа обращений пациентов</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/3.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/4.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/5.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/6.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/7.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/8.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/9.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/oftalmologicheskij-centr-focus/10.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')


            .portfolio-slider__item.swiper-slide
              .portfolio-slider__wrap
                .portfolio-slider__content
                  h3.portfolio-slider__title МРТ-Центр Гранд Сервис

                  .portfolio-slider__target
                    | Сайт: <b>mrtvtomske.ru</b>
                  .portfolio-slider__target
                    | Регион: <b>Томск, Россия</b>

                  .portfolio-slider__descr
                    p Выполненные работы: <strong>разработка конверионного Лендинга с нуля</strong>
                    p Результаты: <strong>создание презентабельной визуальной упаковки ориентированной на увеличение числа обращений пациентов</strong>

                .portfolio-slider__right
                  .portfolio-example-slider.swiper-container
                    .swiper-wrapper
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/mrt-centr-grand-servis/1.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/mrt-centr-grand-servis/2.jpg", alt="").swiper-lazy
                      .portfolio-example-slider__item.swiper-slide
                        img(data-src="static/images/content/portfolio/sozdanie-sajtov/mrt-centr-grand-servis/3.jpg", alt="").swiper-lazy
                    .slider-controls
                      .slider-controls__btns.slider-controls__btns--bg
                        .swiper-button-prev
                          +icon('arrow-left')
                        .swiper-button-next
                          +icon('arrow-right')
          .slider-controls.portfolio-slider__slider-controls
            .slider-controls__pagination
              .swiper-pagination
            .slider-controls__btns
              .swiper-button-prev
                +icon('arrow-left')
              .swiper-button-next
                +icon('arrow-right')
      // /.portfolio-tabs__item