section.review#review
  .container
    h2.section-title Мнения клиентов и благодарственные письма

    .review__wrap
      .review__left
        .review__descr
          p Начав коммерческую деятельность в 2010 году, мы накопили более 300 положительных отзывов клиентов. Вот, некоторые из них:

        .review-thumb-slider.swiper-container
          .swiper-wrapper
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(data-original="static/images/content/reviews/belkin.jpg", alt="").lazy
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(data-original="static/images/content/reviews/filonova.jpg", alt="").lazy
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(data-original="static/images/content/reviews/minchenko.jpg", alt="").lazy
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(data-original="static/images/content/review-thumb.jpg", alt="").lazy
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(data-original="static/images/content/reviews/svjatnenko.jpg", alt="").lazy
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(data-original="static/images/content/reviews/kochevskij.jpg", alt="").lazy
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(data-original="static/images/content/reviews/gribcov.jpg", alt="").lazy
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(data-original="static/images/content/reviews/stron-holding.jpg", alt="").lazy

      .review__right
        .review-slider.swiper-container
          .swiper-wrapper
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Белкин <span>В.А</span>
                  span.review-slider__object генеральный директор ООО "Навгеоком-Юг"
                p.review-slider__service <strong>Москва, Россия</strong> – Создание и продвижение сайта

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p 000 «Навгеоком-Юг» благодарит команду разработчиков 000 "ДДМ СОЛЮШНС» за высокое качество и профессионализм работ по созданию и продвижению корпоративного сайта <a href="http://www.navgeocom-yug.ru" target="_blank">http://www.navgeocom-yug.ru</a>
                  p Работа выполнена на высоком профессиональном уровне и вызывает положительные отклики, как среди специалистов, так и среди рядовых пользователей. Сайт удобно структурирован, понятен в навигации и обладает значительными функциональными возможностями.
                  p Сайт снабжен удобным и простым в применении административным интерфейсом, что позволяет сотрудникам нашей компании самостоятельно изменять информационную структуру сайта и размещать любые необходимые информационные материалы с любого компьютера с доступом в сеть Интернет.
                  p Отмечая высокий профессионализм сотрудников компании ООО "ДДМ СОЛЮШНС», качество и сжатые сроки выполнения проекта, ответственность и надежность в партнерских отношениях, мы надеемся, что в дальнейшем наше с Вами сотрудничество будет столь же успешно и плодотворно.
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Филонова <span>В.В</span>
                  span.review-slider__object генеральный директор ООО "Инпроконсалт"
                p.review-slider__service <strong>Ростов-на-Дону, Россия</strong> – Создание Лендинг Пейдж
                //- a(href="static/files/pdf-test.pdf", data-fancybox).review-slider__letter
                //-  +icon('pdf-file')
                //-  | Посмотреть благодарственное письмо

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p В рамках совместной работы, специалисты ООО «ВЭСТВЕБАРТ» выслушали все наши пожелания, точно определили концепцию нашего бизнеса и воплощали ее визуально...даже в цветовой гамме мы разбирали влияние цвета на потенциального клиента наших услуг; мы добавляли исключительно наши формулировки привлечения внимания. Нам было предоставлено несколько различных вариантов и уже даже согласованный вариант доработали точечно до совершенства! Мы гордимся нашей лендинг пейдж! Она полностью передает настроение, настрой, при этом уделяя внимание нашему качеству обслуживания и отношения к каждому клиенту.
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Минченко <span>А.В.</span>
                  span.review-slider__object ООО МЦИ "Артист и Мастер"
                p.review-slider__service <strong>Санкт-Петербург, Россия</strong> – Продвижение в социальных сетях

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Не так давно наша компания столкнулась с вопросом продвижения в социальных сетях. Подбор фирмы, которой можно было бы доверить данную работу оказался совсем не простым большой выбор организаций и фрилансеров на рынке, но мало профессионалов. В результате тщательного анализа остановили свой выбор на компании ООО «ВЭСТВЕБАРТ».
                  p За время нашего сотрудничества с компанией ООО «ВЭСТВЕБАРТ» были выполнены работы по запуску и ведению SMM, а также по настройке таргетированной рекламы. Хотим отметить, что сотрудники этой компании работают оперативно, качественно, внимательно прислушиваются к требованиям Заказчика и всегда готовы исправить недочеты после замечаний, стараясь довести работу до ожидаемого результата.
                  p На данный момент работа с ООО «ВЭСТВЕБАРТ» продолжается, и мы надеемся на скорейшее достижение новых вершин!

            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Сафронов <span>Сергей</span>
                  span.review-slider__object владелец ООО "Арт-Эш"
                p.review-slider__service <strong>Москва, Россия</strong> – Таргетинг и SMM-продвижение

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение. На начальной стадии сотрудничества я ставил простые и понятные цели - увеличение числа заказов, а также обращений со стороны клиентов. Мы обсудили перспективы с Романом и приняли решение действовать в двух направлениях: запустить кампанию по контекстной рекламе, а также заняться продвижением аккаунта Art-esh в Instagram. Нас интересовали не только заявки, но и увеличение числа активных подписчиков, которые следили бы за жизнью и работой нашей компании. Первые результаты не заставили себя долго ждать. Все благодаря комплексному подходу и кропотливой работе. Тщательный анализ аудиторий, настройка кампаний и оригинальный подход к решению задач привели к увеличению процента покупателей, а также популяризации нашей компании в Instagram.
                  p Главное, что я бы выделил в работе WestWebArt – отзывчивость. Люди настраивают контекстную рекламу и занимаются продвижением в соцсетях как для себя. При этом я всегда могу получить емкий ответ на возникший вопрос, могу смело обращаться к менеджеру со своими идеями – они будут изучены и внедрены в проект.
                  p Не буду говорить о том, что сразу получил все, чего хотел. Впереди еще много работы, но передо мной ясно видятся перспективы, а также я уверен в том, что выбран удачный подход. Смело могу рекомендовать WestWebArt всем тем, кто хочет испытать интернет-рекламу, а также привлечь новых клиентов.
                  p Благодарен Роману и его команде за индивидуальный подход, постоянную связь, отзывчивость и результат. Будем сотрудничать и дальше!
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Карина <span>Святненко</span>
                  span.review-slider__object fit2u.com.ua
                p.review-slider__service <strong>Украина</strong> – Таргетированная реклама

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Спасибо большое компании и всем сотрудникам за совместную работу по продвижению страниц нашего магазина в Фейсбуке и Инстаграме. Все работы совершались вовремя и с хорошим результатом, сотрудники всегда были на связи, поддерживали и объясняли, если были с чем-то сложности. Очень признательна за хорошую работу!
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Александр <span>Кочевский</span>
                  span.review-slider__object avtima.by
                p.review-slider__service <strong>Беларусь</strong> – Таргетированная реклама

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Спасибо, за работу, быстро, качественно. Предложили много интересных вариантов о которых и не знал. Рекомендую.
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Виктор <span>Грибцов</span>
                  span.review-slider__object
                p.review-slider__service <strong>США</strong> – Контекстная реклама

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Работаю в Штатах, занимаюсь натуральными препаратами и экстрактами для поддержания красоты и здоровья организма. Искал исполнителя с опытом и положительными отзывами. Выбор пал Вест Веб Арт. Заказывал настройку контекста на Гугле. Понравилась человечность и оперативность. Люди всегда онлайн, им всегда можно задать даже самый глупый вопрос. А таких было немало) Все объяснят, я так понял, над моей кампанией работал не один, а сразу несколько человек. Могут делать все очень быстро!
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name ТОО <span>Строн-Холдинг</span>
                  span.review-slider__object
                p.review-slider__service <strong>Костанай, Казахстан</strong> – SEO

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Сотрудничать с этой компанией посоветовали знакомые. Мы обратились за СЕО-оптимизацией и продвижением нашего сайта. На фоне аналогичных предложений выделяется оперативность, наглядный результат работы и получение ожидаемого эффекта. Рекомендуем сотрудничество с этой компанией всем, кому требуется СЕО-оптимизация.

          .slider-controls
            .slider-controls__pagination
              .swiper-pagination
            .slider-controls__btns
              .swiper-button-prev
                +icon('arrow-left')
              .swiper-button-next
                +icon('arrow-right')