section.review
  .container
    h2.section-title Мнения клиентов и благодарственные письма

    .review__wrap
      .review__left
        .review__descr
          p Начав коммерческую деятельность в 2010 году, мы накопили более 300 положительных отзывов клиентов. Вот, некоторые из них:

        .review-thumb-slider.swiper-container
          .swiper-wrapper
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(src="static/images/content/review-thumb.jpg", alt="")
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(src="static/images/content/review-thumb.jpg", alt="")
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(src="static/images/content/review-thumb.jpg", alt="")
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(src="static/images/content/review-thumb.jpg", alt="")
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(src="static/images/content/review-thumb.jpg", alt="")
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(src="static/images/content/review-thumb.jpg", alt="")
            .review-thumb-slider__item.swiper-slide
              .review-thumb-slider__inner
                img(src="static/images/content/review-thumb.jpg", alt="")

      .review__right
        .review-slider.swiper-container
          .swiper-wrapper
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Сафронов <span>Сергей</span>
                  span.review-slider__object владелец ООО "Арт-Эш"
                p.review-slider__service <strong>Москва, Россия</strong> – Таргетинг и SMM-продвижение
                a(href="static/files/pdf-test.pdf", data-fancybox).review-slider__letter
                  +icon('pdf-file')
                  | Посмотреть благодарственное письмо

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Сафронов <span>Сергей</span>
                  span.review-slider__object владелец ООО "Арт-Эш"
                p.review-slider__service <strong>Москва, Россия</strong> – Таргетинг и SMM-продвижение
                a(href="static/files/pdf-test.pdf", data-fancybox).review-slider__letter
                  +icon('pdf-file')
                  | Посмотреть благодарственное письмо

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Сафронов <span>Сергей</span>
                  span.review-slider__object владелец ООО "Арт-Эш"
                p.review-slider__service <strong>Москва, Россия</strong> – Таргетинг и SMM-продвижение
                a(href="static/files/pdf-test.pdf", data-fancybox).review-slider__letter
                  +icon('pdf-file')
                  | Посмотреть благодарственное письмо

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Сафронов <span>Сергей</span>
                  span.review-slider__object владелец ООО "Арт-Эш"
                p.review-slider__service <strong>Москва, Россия</strong> – Таргетинг и SMM-продвижение
                a(href="static/files/pdf-test.pdf", data-fancybox).review-slider__letter
                  +icon('pdf-file')
                  | Посмотреть благодарственное письмо

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Сафронов <span>Сергей</span>
                  span.review-slider__object владелец ООО "Арт-Эш"
                p.review-slider__service <strong>Москва, Россия</strong> – Таргетинг и SMM-продвижение
                a(href="static/files/pdf-test.pdf", data-fancybox).review-slider__letter
                  +icon('pdf-file')
                  | Посмотреть благодарственное письмо

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Сафронов <span>Сергей</span>
                  span.review-slider__object владелец ООО "Арт-Эш"
                p.review-slider__service <strong>Москва, Россия</strong> – Таргетинг и SMM-продвижение
                a(href="static/files/pdf-test.pdf", data-fancybox).review-slider__letter
                  +icon('pdf-file')
                  | Посмотреть благодарственное письмо

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
            .review-slider__item.swiper-slide
              .review-slider__head
                .review-slider__head-top
                  h3.review-slider__name Сафронов <span>Сергей</span>
                  span.review-slider__object владелец ООО "Арт-Эш"
                p.review-slider__service <strong>Москва, Россия</strong> – Таргетинг и SMM-продвижение
                a(href="static/files/pdf-test.pdf", data-fancybox).review-slider__letter
                  +icon('pdf-file')
                  | Посмотреть благодарственное письмо

              .review-slider__content
                .review-slider__content-inner(data-simplebar, data-simplebar-auto-hide="false")
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.
                  p Я, Сергей Сафронов, являюсь владельцем компании Art-esh. Мы занимаемся изготовлением бутафорий и декораций, а также оформлением интерьеров. Наши модельеры создают передвижные конструкции и праздничные костюмы. С помощью поролона, пластика и ткани мы делаем мероприятие уникальным и по-настоящему запоминающимся. Art-esh работает по всей Москве, а также доставляет продукцию по России и всему Миру.
                  p Решению сотрудничать с WebWestArt предшествовали длительные поиски надежного исполнителя. Мы искали компанию с опытом и результатами. Прежде чем доверить свой проект посторонним людям, я хотел убедиться в их компетентности и профессионализме. Портфолио на сайте и разговор с менеджером помогли мне принять удачное решение.

          .slider-controls
            .slider-controls__pagination
              .swiper-pagination
            .slider-controls__btns
              .swiper-button-prev
                +icon('arrow-left')
              .swiper-button-next
                +icon('arrow-right')