section.services#services
  .container
    .services-tabs
      .services-tabs__left
        .section-head
          h2.section-title Предлагаемые Услуги
          .section-descr
            p Точечные изменения обеспечат минимальный результат - <br>сейчас актуальны комплексные решения.

        ul.services-tabs-list
          li.services-tabs-list__item.active
            a(href="#").services-tabs-list__link Логотип
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Фирменный стиль
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Редизайн сайтов
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Создание сайтов и лендингов
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Поисковое продвижение
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Контекстная реклама
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Таргетированная реклама
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Развитие сообществ в соц сетях

      .services-tabs__right
        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              p Вот у вас, например, стоматология. И она, допустим, 26-я по счету в городе. <br>
                | Что делать бедному потребителю, как узнать вашу компанию среди десятков других? <br>
                | Логично, что у нее должны быть особые приметы. Корпоративные цвета, особые шрифты, интересный логотип, броское название, яркий слоган, забавный символ или персонаж – все вместе и образует фирменный стиль. Стиль вашей компании.

            p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#", data-title="Логотип").btn.services-modal_open Узнать точную стоимость

        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              p 2 Вот у вас, например, стоматология. И она, допустим, 26-я по счету в городе. <br>
                | Что делать бедному потребителю, как узнать вашу компанию среди десятков других? <br>
                | Логично, что у нее должны быть особые приметы. Корпоративные цвета, особые шрифты, интересный логотип, броское название, яркий слоган, забавный символ или персонаж – все вместе и образует фирменный стиль. Стиль вашей компании.

            p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#", data-title="Фирменный стиль").btn.services-modal_open Узнать точную стоимость