section.services#services
  .container
    .services-tabs
      .services-tabs__left
        .section-head
          h2.section-title Предлагаемые Услуги
          .section-descr
            p Точечные изменения обеспечат минимальный результат - <br>сейчас актуальны комплексные решения.

        ul.services-tabs-list
          li.services-tabs-list__item.active
            a(href="#").services-tabs-list__link Логотип
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Фирменный стиль
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Редизайн сайтов
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Создание сайтов и лендингов
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Поисковое продвижение
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Контекстная реклама
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Таргетированная реклама
          li.services-tabs-list__item
            a(href="#").services-tabs-list__link Развитие сообществ в соц сетях

      .services-tabs__right
        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              p При взгляде на эмблему больницы, аптеки, оздоровительного учреждения, у человека должно формироваться ощущение надёжности, безопасности, быстрой и профессиональной помощи.
              p Есть доктора, вызывающие доверие с первого взгляда. Ваш фирменный стиль должен выполнять ту же задачу.

              p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#calculate").btn Узнать точную стоимость

        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              p Вот у вас, например, стоматология. И она, допустим, 26-я по счету в городе. Что делать бедному потребителю, как узнать вашу компанию среди десятков других?
              p Логично, что у нее должны быть особые приметы. Корпоративные цвета, особые шрифты, интересный логотип, броское название, яркий слоган, забавный символ или персонаж – все вместе и образует фирменный стиль. Стиль вашей компании

              p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#calculate").btn Узнать точную стоимость

        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              p Пациентам со смартфона неудобно записываться на прием? У вас шаблонный дизайн? Обилие технических ошибок? Сайты конкурентов выглядят намного выигрышнее на фоне вашего?
              p Это всего несколько, из череды, причин задуматься о Редизайн. Подобного рода процедура подразумевает серьезные изменения функционала ресурса, вплоть до переноса на другую, более современную и защищенную CMS.

              p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#calculate").btn Узнать точную стоимость

        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              .video
                a(href="https://www.youtube.com/watch?v=GRnYFthUvHc").video__link
                button(type="button", aria-label="Запустить видео").video__button

              p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#calculate").btn Узнать точную стоимость

        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              .video
                a(href="https://www.youtube.com/watch?v=Uy39cHVeLzc").video__link
                button(type="button", aria-label="Запустить видео").video__button

              p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#calculate").btn Узнать точную стоимость

        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              .video
                a(href="https://www.youtube.com/watch?v=E5aq6ACT8yg").video__link
                button(type="button", aria-label="Запустить видео").video__button

              p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#calculate").btn Узнать точную стоимость

        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              .video
                a(href="https://www.youtube.com/watch?v=eIAM8lEicuY").video__link
                button(type="button", aria-label="Запустить видео").video__button

              p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#calculate").btn Узнать точную стоимость

        .services-tabs__item
          .services-tabs__content
            .services-tabs__descr
              .video
                a(href="https://www.youtube.com/watch?v=VitxM19OoTE").video__link
                button(type="button", aria-label="Запустить видео").video__button

              p.services-tabs__price Стоимость: от ХХХ руб./от YYY $. Срок: от ZZZ дней.

            a(href="#calculate").btn Узнать точную стоимость