header.header(class=headerClass)
  .container
    a(href="./").logo.header__logo
      img(src="static/images/general/logo.png", alt="WWA")
    p.header__cta Привлекаем клиентов для клиник и врачей

    a(href="#").btn.btn--icon.consultation-modal2_open.header__consultation
      +icon('phone')
      | Получить консультацию

    .nav-wrap
      span.nav-wrap__title Меню
      button(type="button").nav-toggle
        span.nav-toggle__line

    nav.nav
      button(type="button").nav__close Закрыть меню

      ul.nav-list
        li.nav-list__item
          a(href="#about").nav-list__link Продвижение
        li.nav-list__item
          a(href="#portfolio").nav-list__link Портфолио
        li.nav-list__item
          a(href="#chosen").nav-list__link Нас выбирают
        li.nav-list__item
          a(href="#review").nav-list__link Отзывы
        li.nav-list__item
          a(href="#services").nav-list__link Предлагаемые Услуги
        li.nav-list__item
          a(href="#facts").nav-list__link Факты о нас
        li.nav-list__item
          a(href="#calculate").nav-list__link Квиз
        li.nav-list__item
          a(href="#team").nav-list__link Команда
        li.nav-list__item
          a(href="#faq").nav-list__link Ответы на Часто Задаваемые Вопросы

      ul.social.nav__social
        li.social__item
          a(href="https://join.skype.com/invite/adoYBTk8iDkj", target="_blank").social__link
            +icon('skype', 'social__icon')
        li.social__item
          a(href="tg://resolve?domain=vlasyukroma", target="_blank").social__link
            +icon('telegram', 'social__icon')
        li.social__item
          a(href="viber://chat?number=%2B380969313320", target="_blank").social__link
            +icon('viber', 'social__icon')
        li.social__item
          a(href="https://api.whatsapp.com/send?phone=380969313320", target="_blank").social__link
            +icon('whatsapp', 'social__icon')

      a(href="#").btn.btn--icon.consultation-modal2_open.nav__consultation
        +icon('phone')
        | Получить консультацию